body{
    margin:0;
    padding:0;
    background-color: red;
}

header,footer{
    width: 100%;
    background-color: white;
}
header{
    height: 15vh;
}
footer{
    height: 5vh;
}
.contPrincipal{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:5%;
}
h3{
    font-size: 20px;
    font-family: "arial"
    color: aquamarine;
    text-align: right;
}